.header {
  background-color: darkolivegreen;
  padding: 10px 0;
}
.nav {
  background-color: darkolivegreen;
  padding: 10px 0;
}
.logo {
  &__title {
    color: white;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 6px;
    margin-left: 10px;
  }
}
.banner {
  background-color: #3e3e40;
  background-image: url("../images/stars.svg");
  backgroudn-repeat: repeat;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_badge {
  &__title {
    font-size: 24px;
  }
}
.badge {
  &__container {
    margin-top: 20px;
    &__button {
      display: flex;
      justify-content: flex-end;
    }
  }
}
